{block content}
<div class="container">
	<div class="row mt-4 mb-4">
		<div class="col-12">
			<p><a n:href="default">Články</a></p>
		</div>
		<div class="col-12">
			<h2>{$row->title}</h2>
		</div>
	</div>
    <div class="row mt-4 mb-4">
		<div class="col-12">
			<div>{$row->content}</div>
			<hr>
			<p>Kategorie: <b>{$row->edited}</b>, publikováno: <b>{$row->published}</b></p>
		</div>
	</div>
</div>
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}